# Для мгновенного вывода информации
PYTHONUNBUFFERED=1

# Данные Яндекс Облака
# Ваш токен Яндекса
OAUTH_TOKEN=
# ID_ВАШЕЙ_ВИРТУАЛЬНОЙ_МАШИНЫ1,ID_ВАШЕЙ_ВИРТУАЛЬНОЙ_МАШИНЫ2
INSTANCE_IDS=
# Интервал для таймаута при старте (в секундах)
START_TIMEOUT=10
# Интервал проверки (в секундах)
CHECK_INTERVAL_SECONDS=60

# Данные Telegram
# Если True, то отправляем в тг, если False - нет
USE_TG=True
# Токен вашего телеграм бота
TG_TOKEN=
# Аккаунты телеграмма для отправки сообщений: аккаунт1,аккаунт2
TG_CHAT_IDS=
